/* .box{
   width: 50px;
   height: 50px;
   border-radius: 4px;
   background-color:#fcc000 ;
   transition: 1s;
} */

/* .box:hover{
    background-color: green;
    transform: scale(0.5) rotate(45deg);
    margin-left: 30px;
} */

.container{
    width: 100%;
}
.box{
    /* width: 50px;
    height: 50px;
    border: 4px solid#fcc000;
    border-radius: 50%;
    border-bottom: 4px solid grey;
    transition: 1s; */
    box-shadow: 0px 0px 20px 5px lightgray;
    margin: 0;
    margin-top: -200px;
    animation: rotate 1s 1 ease-out;
    animation-fill-mode: forwards;
 }

 @keyframes rotate{
    0%{
        margin-top: -200px;
    }
    100%{
        margin-top: 0px;
    }
 }